.inputContainer {
    display: flex;
    align-items: center;
    border: 2px solid #00000050;
    border-radius: 6px;
    height: 45px;
    margin: auto auto 15px;
    max-width: 330px;
    width: 80%;
}

.inputIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19.6520px;
    min-width: 22px;
    padding: 0 10px;
}

.formInput {
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-family: "Nunito";
    font-size: 17.3400px;
    height: 90%;
    margin: 0 2px;
    outline: none;
    width: calc(100% - 35px);
    &::placeholder {
        color: var(--shade-color);
    }
}

.inputFocused {
    border: 2px solid var(--alternate-color);
}

.iconFocused {
    color: var(--secondary-accent-color);
}