.headerBar {
    background-color: var(--primary-color);
    box-shadow: inset 0 -6px #0003;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    padding-bottom: 6px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logoText {
    color: var(--accent-color);
    cursor: pointer;
    font-family: "Titan One";
    font-size: 31.5px;
    line-height: 49px;
    margin-left: 29px;
    outline: none;
    text-align: left;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}

.rightLink {
    color: #fff;
    cursor: pointer;
    font-family: "Nunito";
    font-size: 24px;
    font-weight: 700;
    line-height: 49px;
    outline: none;
    padding-right: 40px;
    text-align: right;
    text-decoration: underline;
}
