.content {
    height: calc(100% - 55px);
    top: 55px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 80vw;
    width: 100%;
    z-index: -1;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}