.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -2;
}

.backgroundBlooks {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-size: 550px;
    background-position: -100px -100px;
    background-image: url("/content/background.png");
    opacity: var(--background-opacity);
    transform: translate(-50%, -50%) rotate(15deg);
}