.container {
    height: auto;
    width: 100%;
    overflow: auto;
    
    @media only screen and (max-width: 1050px) {
        height: 100vh;
    }
}

.homeBlookImage {
    float: right;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    height: 100vh;
    width: 52.5%;
    object-fit: contain;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    z-index: -1;

    @media only screen and (max-width: 1050px) {
        top: 7.26vh;
        height: auto;
        width: 100%;
    }
}

.headerSide {
    background-color: var(--primary-color);
    box-shadow: -8px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 4px rgba(0, 0, 0, 0.15);
    width: 70vw;
    height: 132vh;
    position: absolute;
    top: -10vh;
    left: -20vw;
    transform: rotate(-15deg);
    z-index: -1;

    @media only screen and (max-width: 1050px) {
        width: 130vw;
        height: 70vh;
        position: absolute;
        top: 40vh;
        left: -20vw;
        transform: rotate(4deg);
        background-color: var(--primary-color);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.41vw 0.15vw;
        z-index: 0;
    }
}

.topHeaderContainer {
    position: absolute;
    top: 2.07vh;
    left: 2.07vh;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: 1050px) {
        left: 5vw;
        top: 41vh;
        flex-direction: column;
        align-items: flex-start;
    }
}

.logoText {
    font-family: "Titan One";
    font-size: 7.3vh;
    text-shadow: 0.104vw 0.104vw 0.417vw grey;

    @media only screen and (max-width: 320px) {
        font-size: 6vh;
    }
}

.welcomeContainer {
    position: absolute;
    top: 22vh;
    left: 5vw;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    width: 40%;

    @media only screen and (max-width: 1050px) {
        position: absolute;
        top: 57.5vh;
        left: 5vw;
        color: var(--accent-color);
        display: flex;
        flex-direction: column;
    }
}

.welcomeText {
    font-size: 8.83vh;
    line-height: 9.13vh;
    font-weight: bold;
    text-shadow: 0.104vw 0.104vw 0.417vw grey;

    @media only screen and (max-width: 1050px) {
        font-size: 6vh;
        line-height: 6.5vh;
        font-weight: bold;
    }

    @media only screen and (max-width: 375px) {
        font-size: 5vh;
    }
}

.welcomeDescription {
    font-size: 3.35vh;
    margin: 3vh 0;
    color: #fff;

    @media only screen and (max-width: 1050px) {
        font-size: 2.2vh;
        margin: 1.5vh 0 3vh;
    }

    @media only screen and (max-width: 375px) {
        font-size: 2vh;
    }
}

.welcomeButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    @media only screen and (max-width: 1050px) {
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
}

.topButtonContainer {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        top: 2vh;
        left: 0;
    }
}

.versionInfo {
    position: absolute;
    bottom: 1vw;
    right: 0;
    color: var(--accent-color);
    margin: 7.5px;
    font-size: 11.5px;
    text-align: right;

    @media only screen and (max-width: 1050px) {
        display: none;
    }
}

.tosLink {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--accent-color);
    margin: 7.5px;
    font-size: 11.5px;
    text-align: right;
    
    @media only screen and (max-width: 1050px) {
	margin: 0;
	margin-right: 8px;
	padding-bottom: 7px;
    }
}

.tosText {
    text-decoration: underline;
}

.termsRequired {
    position: absolute;
    bottom: 1vw;
    left: 0;
    color: var(--accent-color);
    margin: 7.5px;
    font-size: 11.5px;
    text-align: left;

    @media only screen and (max-width: 1050px) {
        display: none;
    }
}

.copyrightText {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--accent-color);
    margin: 7.5px;
    font-size: 11.5px;
    text-align: left;

    @media only screen and (max-width: 1050px) {
        display: none;
    }
}
