body {
    color: var(--accent-color);
    background-color: var(--background-color);
    font-family: "Nunito";
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: var(--accent-color);
}