.content {
    text-align: center;
}

.heading {
    font-size: 5vh;
    font-weight: bold;
}

.subheading {
    font-size: 4vh;
}

.termGroup {
    margin-top: 2vh;
}

.termHeading {
    font-size: 3vh;
}

.termDescription {
    font-size: 2vh;
    margin-top: 1vh;
}