.genericContainer {
    background-color: var(--primary-color);
    border-radius: 7px;
    box-shadow: inset 0 -7px #0003, 0 0 4px #00000026;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 420px;
    padding-bottom: 7px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1000;

    @media (max-width: 400px) {
        max-width: calc(100% - 30px);
    }
}

.genericHeader {
    font-family: "Nunito";
    font-weight: bolder;
    color: var(--accent-color);
    font-size: 35px;
    margin: 10px 20px 20px;
    text-align: center;

    @media (max-width: 400px) {
        font-size: 30px;
    }

    @media (max-width: 350px) {
        font-size: 28px;
    }
}

.genericDescription {
    font-family: "Nunito";
    color: var(--accent-color);
    font-size: 23px;
    margin: 10px 20px 20px;
    text-align: center;
}

.inputHeader {
    font-family: "Titan One";
    color: var(--accent-color);
    font-size: 55px;
    margin: 10px 20px 20px;
    text-align: center;    
}